{% extends "template.twig" %}
{% block content %}
    <div class="col-md-12 order-md-2">
        <div class="card text-center">
            <form action="/main/generate" method="post" class="my-2 form-redirect">
                <div class="input-group px-4 py-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bars pr-2" aria-hidden="true"></i>Select type of input</span>
                    </div>
                    <select name="type-input-data" class="form-control type-input-data">
                        <option value="1">Xml - site map</option>
                        <option value="2">Csv - file with ;</option>
                    </select>
                </div>
                <div class="input-group px-4 py-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bars pr-2" aria-hidden="true"></i>Select type of output redirect</span>
                    </div>
                    <select name="type-redirect" class="form-control">
                        <option value="1">RewriteRule [L]</option>
                        <option value="2">Redirect 301</option>
                    </select>
                </div>
                <div class="input-group px-4 py-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-share-alt pr-2" aria-hidden="true"></i>Dara url</span>
                    </div>
                    <input type="text" name="url-data" id="url-data" class="form-control" placeholder="Url with xml data, for example https://site.com/site-map.xml" aria-describedby="url-data">
                </div>
                <div class="input-group px-4 py-2 new-domains-address">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-share-alt pr-2" aria-hidden="true"></i>New domains name</span>
                    </div>
                    <input type="text" name="new-domains" id="new-domains" class="form-control" placeholder="domains, for example https://site-new.com" aria-describedby="name-domains">
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 py-2">
                        <button type="submit" class="btn btn-success tooltip-show" title="Creating kml file">Generate redirect</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}